
<style>
  /* Estilos de la consola */
  .console {
    background-color: #111;
    color: #000;
    font-family: monospace;
    padding: 20px;
    border: 1px solid #4f4e4e;
    border-radius: 8px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
  }

  /* Cambiamos el estilo de los botones para que se vean como comandos */
  .console button {
    background-color: #222;
    color: #555;
    border: 1px solid #555;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }

  .console button:hover {
    background-color: #111;
  }

  /* Estilo para campos de entrada */
  .console input[type="text"],
  .console input[type="password"],
  .console input[type="email"] {
    background-color: #090909;
    color: #939292;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
  }
</style>

<div class="mt-16">
  <div class="mx-auto p-5 console">
    <h1 class="text-3xl font-bold text-center mb-4" style="color: white;">LOGIN</h1>

    <form action="" method="POST" class="mt-4">
      <input type="email" name="email" placeholder="Email" required/>

      <input type="password" name="password" placeholder="Password" required/>

      <div class="text-center">
        <button
          type="submit">
          Send
        </button>
      </div>

      {{#if error}}
      <p class="text-red-500 font-bold text-lg my-3">{{error}}</p>
      {{/if}}
    </form>
  </div>
</div>
