<!DOCTYPE html>
<html>
<head>
  <title>Bienvenido a mi Página Web</title>
  <style>
    body {
      background-color: #111;
      color: #fff;
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #222;
      padding: 20px;
    }

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 18px;
      margin: 20px 0;
    }

    a {
      color: rgb(242, 242, 242);
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<body>
  <header>
    <h1>Bienvenido <b>{{name}}</b></h1>
  </header>
  <div class="container">
    <p>Esta es una página de inicio de una web diseñada con colores oscuros. Puedes personalizar el contenido y el estilo a tu gusto.</p>
    <p>¡Explora y disfruta de la experiencia! Si tienes alguna pregunta o comentario, no dudes en <a href="/contacto">contactarnos</a>.</p>
  </div>
</body>
</html>
